<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content"IE=edge">
    <title>Authentication</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" herf="">
</head>
<body>

<h3>Welcome for choosing our site</h3>
<h3>Hello {{ fname }}!</h3>
    {% autoescape off%}
Activation failed, please try again...!!
{% endautoescape %}
    <br>
    <button type="submit"> <a href="/signup">SignUp</a></button>
    <button type="submit"> <a href="/signin">SignIn</a></button>

    <script src="" async defer></script>
</body>
</html>